{
  "*.{ts,tsx}": [
    "tslint --project tsconfig.json --fix --force",
    "prettier --write",
    "git add"
  ],
  "*.{js,jsx}": [
    "eslint --fix --quiet",
    "prettier --write",
    "git add"
  ],
  "*.{json,css,md}": [
    "prettier --write",
    "git add"
  ]
}